<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SHOW</title>
  </head>
  <body>
    <h1>Tests#Show</h1>

    <p><%= @time %></p>

    <p><%= @resource_id %></p>
  </body>
</html>
